<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Exercise 2.03</title>
    </head>
    <body>
        <p th:inline="text">
            The employee is [[${employee.firstName}]] [[${employee.lastName}]].<br />
            <br />
            This employee has the following details:<br />
            Social Security Number: [[${employee.ssn}]] <br />
            Date of Birth (DOB): [[${employee.dob}]].
        </p>
    </body>
</html>