<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Exercise 2.03</title>
    </head>
    <body>
        <form action="#" th:action="@{/employee}" th:object="${employee}" method="post">
            First Name: <input type="text" th:field="*{firstName}" /><br />
            Last Name: <input type="text" th:field="*{lastName}" /><br />
            Social Security Number (SSN): <input type="text" th:field="*{ssn}" /><br />
            Date of Birth (DOB): <input type="date" th:field="*{dob}" /><br />
            <input type="submit" value="Submit">
        </form>
    </body>
</html>